#main .inner {
  max-width: 1400px;
  padding-top: 0;
  margin: 0 auto;
}
table.sac-net {
  background-color: #312450;
  border-radius: 30px;
  overflow: hidden;
}
table.sac-net tr {
  background: none !important;
  border: none !important;
}
table.sac-net th {
  text-align: center;
  background-color: white;
  color: #5e42a6;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.8em !important;
  text-align: center;
  padding: 2em 0;
  vertical-align: middle;
}
table.sac-net th:nth-of-type(1) {
  border-bottom-left-radius: 30px;
}

table.sac-net th:nth-of-type(2) {
  border-bottom-right-radius: 30px;
}
table.sac-net tr td:nth-of-type(1) {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7em !important;
}
table.sac-net tr td:nth-of-type(2) a {
  border-bottom: none !important;
}
table.sac-net tr td:nth-of-type(2) a:hover {
  border-bottom: 1px solid white !important;
}
table.sac-net td {
  text-align: center;
  width: 50%;
  color: white;
  font-size: 0.75em !important;
}
.sac-p {
  text-align: center;
  margin: 5% auto;
}

.sac-center {
  text-align: center;
}

.sac-p {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
.secondary-sac {
  text-transform: lowercase;
  font-weight: 100;
  font-size: 0.8em !important;
}
.sac-number {
  background-color: white;
  color: #5e42a6;
  padding: 10px 21px;
  border-radius: 50%;
  text-align: center;
  display: block;
  width: fit-content;
  margin: 20px auto;
}

.highlight {
  color: #5e42a6;
  background-color: white;
  padding: 2px 3px;
}

/* RESPONSIVITY */

@media screen and (max-width: 400px) {
  table.sac-net th {
    padding: 2.5em 1em;
    font-size: 0.65em !important;
  }
}
